@charset "utf-8";
h4{
    color:  #ff0000;
    border: solid 3px blue;
}
body{
    background-color: beige;
}
ol li{
    List-style-type: square;
    List-style-position: inside;
}

body{
    background-color: #e7e0e0;
    font-family: "游明朝", serif;
    background-image:url(img/bg-img.jpg);
    background-size: contain;
}
table{
    background-color: rgba(255, 255, 255, 255);
    margin-bottom: 20px;
}
h2{
    List-style-type: square;
    List-style-position: inside;
    margin-left: 20px;
}