@charset "utf-8";

img{
    width: 100px;
}
caption{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
table {
    margin: 0 auto;
}
.rainbow {
    background-image: url('img2/rainbow.jpg');
  background-size: cover; /* 画像をウィンドウ全体に広げる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
}
.blue{
    background-color: aquamarine;
}
.brack{
    background-color: rgb(90, 91, 92);
}